* {
  padding: 0;
  margin: 0;
}


/********** - START SECTION - **********/
.quizwiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/public/background-img.png);
  background-repeat: repeat;
  background-position: right top;
  margin: 0;
  
}

/*** HEADER SECTION ***/
.quizwiz-container-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizwiz-container-header-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.438rem;
  flex: 1;
}

.quizwiz-h1-start, .quizwiz-h2-start {
  color: var(--font-color);
}

.quizwiz-h1-start {
  font-size: var(--app-h1-font-size);
  font-family: 'Karla';

}

.quizwiz-h2-start {
  font-size: var(--app-h2-font-size);
  font-family: 'Inter';
  padding-bottom: 1.813rem;
}

.quizwiz-startbutton-start {
  font-size: var(--playbutton-font-size);
  min-width: 12.063rem;
  min-height: 3.25rem;
  padding: 1rem 2rem;
  background-color: var(--playbutton-color);
  border-radius: 0.938rem;
  border-style: none;
}

/********** - OPTIONS SECTION - **********/

.quizwiz-container-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  min-height: 90vh;
}

.quizwiz-headercontainer-options {
  color: var(--font-color);
  font-family: 'Karla';
  font-weight: 700;
  font-size: 6rem;
  padding-bottom: 4.688rem;
}

.quizwiz-label-container-options {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  column-gap: 5rem;
}

.quizwiz-single-label-container-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--app-h1-font-size);
  font-family: 'Inter';
  color: var(--font-color);
  text-align: center;
}

.quizwiz-single-label-container-options > input, select {
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  color: var(--options-button-border-color);
  background-color: var(--bg-color);
  border-color: var(--options-button-border-color);
  border-radius: 0.496rem;
  margin-top: 4.5rem;
}


.quizwiz-backtostart-button-options, .quizwiz-startquiz-button-options {
  font-size: var(--playbutton-font-size);
  min-width: 12.063rem;
  min-height: 3.25rem;
  padding: 1rem 2rem;
  border-radius: 0.938rem;
  border-style: none;
  margin-top: 4.688rem;
}

.quizwiz-backtostart-button-options {
  background-color: var(--playbutton-color);
  color: var(--bg-color);
  margin-right: 20px;
}

.quizwiz-startquiz-button-options {
  background-color: var(--bg-color);
  color: var(--playbutton-color);
  border: 1px solid var(--options-button-border-color);
  margin-left: 20px;
}



/********** - QUIZ SECTION - **********/

.quizwiz-container-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  padding-top: 3.75rem;
}


.quizwiz-questioncontainer-quiz {
  display: flex;
  flex-direction: column;
  gap: 0.813rem;
}

.quizwiz-questionchoicecontainer-quiz {
  display: flex;
  flex-direction: row;
  gap: 0.794rem;
}

.quizwiz-questiontitle-quiz {
  font-family: 'Karla';
  font-weight: 700;
  font-size: var(--app-h2-font-size);
  color: var(--font-color);
}


.quizwiz-questionchoice-quiz {
  font-family: 'Inter';
  font-weight: 500;
  font-size: var(--quiz-choice-font-size);
  min-width: 4.12rem;
  min-height: 1.29rem;
  padding: 0.5rem 0.75rem;
  color: var(--options-button-color);
  background-color: var(--bg-color);
  border-radius: 0.496rem;
  border: 0.063rem solid var(--playbutton-color);
}

.quizwiz-questionchoice-quiz.quizwiz-questionchoiceselected-quiz {
  border-style: none;
  color: var(--font-color);

}

.quizwiz-questionchoice-quiz.quizwiz-questionchoicecorrect-quiz {
  border-style: none;
  background-color: var(--quiz-choice-correct-color);
}

.quizwiz-questionchoice-quiz.quizwiz-questionchoiceincorrect-quiz {
  border-style: none;
  background-color: var(--quiz-choice-incorrect-color);
  opacity: .55;
}

.quizwiz-questionchoice-quiz.quizwiz-questionchoicedimmed-quiz {
  opacity: .55;
}

.quizwiz-checkanswer-quiz {
  font-family: 'Inter';
  font-weight: 600;
  font-size: var(--quiz-choice-font-size);
  min-width: 8.24rem;
  min-height: 2.68rem;
  padding: 1rem 1.5rem;
  color: var(--bg-color);
  border-radius: 0.496rem;
  margin-right: 20px;
  margin-bottom: 3.125rem;

}

.quizwiz-triviaoptions-quiz {
  font-family: 'Inter';
  font-weight: 600;
  font-size: var(--quiz-choice-font-size);
  min-width: 8.24rem;
  min-height: 2.68rem;
  padding: 1rem 1.5rem;
  color: var(--playbutton-color);
  background-color: var(--bg-color);
  border-radius: 0.496rem;
  border: 0.126rem solid var(--playbutton-color);
  margin-left: 20px;
  margin-bottom: 3.125rem;
}


.quizwiz-playagain-quiz {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 0.961rem;
  min-width: 9.75rem;
  min-height: 1.875rem;
  color: var(--bg-color);
  background-color: var(--playbutton-color);
  padding: 1rem 1.5rem;
  border-radius: 0.496rem;
  margin-right: 20px;
  margin-bottom: 3.125rem;
}

.quizwiz-triviaoptionschecked-quiz {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 0.961rem;
  min-width: 9.75rem;
  min-height: 1.875rem;
  padding: 1rem 1.5rem;
  color: var(--playbutton-color);
  background-color: var(--bg-color);
  border-radius: 0.496rem;
  border: 0.126rem solid var(--playbutton-color);
  margin-left: 20px;
  margin-bottom: 3.125rem;
}


.quizwiz-scorebox-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2.209rem;
}

.quizwiz-quizscore-quiz {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--font-color);
}

.quizwiz-menu-quiz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/********** - BUTTON ANIMATIONS - **********/ 


quizwiz-single-label-container-options > input, select {
  transform: scale(1.06);
  transition: 500ms ease-in-out;
}

quizwiz-single-label-container-options > input:hover, select:hover, select:focus {
  transform: scale(1.30);
  color: var(--bg-color);
  border-style: none;
  background-color: var(--playbutton-color);
}

quizwiz-single-label-container-options >  select:active {
  transform: scale(1.24);
}

button:hover {
  transform: scale(1.06);
  transition: 200ms ease-in-out;
}